<% if tasks.empty? %>
  <div class="alert alert-warning">
    <%= fa_icon "exclamation-circle" %> No Tasks found
  </div>
<% end %>

<% tasks.each do |task| %>
  <%= render "/tasks/task", task: task %>
<% end %>

