<%= render '/users/dashboard' %>

<section id="user-task-lists" class="container <%= 'user-profile' if current_user? @user %> ">
      
    <div class="tab-content">
    
      <div class="tab-pane fade in active" id="taskListsTab">
        <%= render '/task_lists/index', title: "My Task Lists", task_lists: @task_lists %>
      </div>
      
      <% if current_user? @user %>
      <div class="tab-pane fade" id="favoritesTab">
        <%= render "/task_lists/index", title: "Favorite Task Lists", task_lists: @favorite_task_lists %>
      </div>
      <% end %>
    </div>

</section>
