<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easytasks</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style> html, body {height: 100%;} </style> </head>
<body class="authentication gradient vertical-align">

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="brand">Easy Tasks</h1>
    <div class="panel">
      <%= yield %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
